*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Container{
    /* background-color: lightseagreen; */
}
.Donate_Title{
    margin-top: 20px;
}
/* .Donate_Desc{
    width: 90%;
    margin: 10px auto;
} */
/* Header Start */
.header{
    
}

.Banner{
    background-image: url('../Assets/images/donation5.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
}
.Banner_Content{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.banner_Title{
    text-align: center;
    color: white;
    font-size: 65px;
    
}
.banner_Text{
    color: white;
    font-size: 20px;
}
.btn_primary{
    background-color: tomato;
    border: 0;
    color: white;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    border-radius:5px;
}

/* Header End */

/* Main Start */
.main{
    width: 80%;
    /* background-color: purple; */
    margin: 0 auto;
    text-align: center;
    color: gray;
}

/* Donate Today Start */
.Donate_Today{
    overflow: hidden;
}
.Donate_Title{
    color: black;
}
.Donate_Desc{
    color: gray;
    width: 700px;
    margin: 20px auto;
    font-size: 20px;
}
.Number{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.tk{

}
.active{
    color: tomato;
    border: 3px solid tomato;
    padding: 20px 20px;
    background-color: #FFEEEE;
    border-radius: 5px;
}
.om{
    margin-top: 30px;
}
hr{
    width: 600px;
    margin: 10px auto;
}
/* Donate Today End */

/* Donate Plan Start */
.Donate_Box{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 60px 70px;
    /* background-color: red; */
}
.Box{
    border: 1px solid slateblue;
    width: 350px;
    height: 300px;
    text-align: start;
    padding: 20px;
}
.box_Image{
    margin-top: 50px;
}
.box_Title{
    margin: 20px 0;
}
.box_Body{
    tab-size: 22px;
    line-height: 1.6rem;
}
.b1{
    background-color: #EDF5F6;
}
.b2{
    background-color: #FFEEEE;
}
.b3{
    background-color: #FFF4D6;
}
/* Donate Plan End */

/* Description Start */
.Description{
    width: 90%;
    margin: 0 auto;
    /* background-color: yellow; */
}
.First{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}
.Second{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}
.Left{
   
}
.Desc_Title{
    font-weight: bold;
    color: black;
    font-size: 45px;
}
.Desc_des{
    font-size: 20px;
    line-height: 1.5rem;
}
.Right{

}
.pic{
    width: 450px;
    height: 450px;
}
/* Description End */

/* MyUpdate Start */
.MyUpdate{
    margin-top: 70px;
}
.updatetitle{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.anotherbox{
    margin: 70px auto;
    width: 80%;
    height: 300px;
    background-color: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .TwoFactor{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.em{
    padding: 14px 15px;
    height: 22px;
    width: 230px;
    z-index: 1;
    border: 0;
    background-color: #FFFFFF;
}
.sb{
    margin-top: -3px;
    margin-left: -5px;
}
/* MyUpdate End */
/* Main End */

/* Footer start */
.footer{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bh{
    font-family: 'Dancing Script', cursive;
    color: tomato;
    font-weight: bold;
    font-size: 35px;
}
.ig{
    margin-top: 30px;
    color: white;
}
/* Footer End */


/* Media Query Start */
@media screen and (max-width:576px) {
    .banner_Title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner_Text{
        width: 95%;
        margin: 20px auto;
    }
    .main{
        width: 100%;
        margin: 0;
        text-align: center;
        color: gray;
    }
    .Donate_Desc{
        margin-top: 10px;
        text-align: center;
        /* background-color: yellow; */
        /* margin: 10px auto; */
        width: 50%;
        font-size: 16px;
        padding: 20px;
        text-align: center;
    }
    .Number{
        flex-direction: column;
    }
    .Donate_Box{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .Box{
        height: 400px;
        width: 200px;
        margin: 20px auto;

    }
    .Description{
        width: 100%;
    }
    .First{
        padding: 20px;
        flex-direction: column-reverse;
    }
    .Second{
        flex-direction: column;
        padding: 20px;
    }
    .anotherbox{
        width: 100%;
        flex-direction: column;
       
    }
    .em{
        padding: 5px 10px;
        height: 22px;
        width: 230px;
        z-index: 1;
        border: 0;
        background-color: #FFFFFF;
    }
    .sb{
      
        width: 250px;
        margin-top: 10px;
        margin-left: -5px;
        font-size:16px;
    }
}

@media screen and (min-width:577px) and (max-width: 992px) {
    .banner_Title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner_Text{
        width: 95%;
        margin: 20px auto;
    }
    .main{
        width: 100%;
        margin: 0;
        text-align: center;
        color: gray;
    }
    .Donate_Desc{
        margin-top: 10px;
        text-align: center;
        /* background-color: yellow; */
        /* margin: 10px auto; */
        width: 50%;
        font-size: 16px;
        padding: 20px;
        text-align: center;
    }
    .tk1{
       grid-area: tk1;
    }
    .tk2{
       grid-area: tk2;
    }
    .tk3{
       grid-area: tk3;
    }
    .tk4{
       grid-area: tk4;
    }
    .tk5{
       grid-area: tk5;
       text-align: center;
       /* background-color: yellow; */
    }
    .Number{
       padding: 50px;
       display: grid;
       grid-template-columns: 1fr 1fr ;
       grid-template-areas: 
         "tk1 tk2 "
         "tk3 tk4 "
         "tk5 tk5"
       ;
       justify-content: center;
       align-items: center;
    }
    .Donate_Box{
        /* flex-direction: column; */
        width: 100%;
        margin: 0;
        padding: 10px;
        gap: 0px;
        /* background-color: yellow; */
    }
    .Box{
        height: 400px;
        width: 180px;
        margin: 5px 5px;

    }
    .Description{
        width: 100%;
    }
    .First{
        text-align: center;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .Second{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .anotherbox{
        width: 100%;
        flex-direction: column;
       
    }
    .em{
        padding: 5px 10px;
        height: 22px;
        width: 230px;
        z-index: 1;
        border: 0;
        background-color: #FFFFFF;
    }
    .sb{
      
        width: 250px;
        margin-top: 10px;
        margin-left: -5px;
        font-size:16px;
    }
}
/* Media Query end */